<html>
        <head>
            <title>Blog TuxCuiabano</title>
        </head>
        <bordy>
            <div>
                <h1><a href="/">Blog TuxCuiabano</a></h1>
            </div>
            <div>
                <p>Publivado: 20/09/2023</p>
                <h2><a href=""> Meu segundo post</a></h2>
                <p>Para crescer tem que tomar Bomba</p>
            </div>
            <div>
                <p>Publicado: 20/09/20223</p>
                <h2><a href="">Foguete não da ré, ele pousa</a></h2>
                <p>conteudo de qualidade</p>
            </div>
        </bordy>
</html>